$faded-navy: #444c5c
$punch: #ce5a57
$ocean-breeze: #78a5a3
$warm:  #e1b16a

$sky: #375e97
$sunset: #fb6542
$sunflower: #fb0
$grass: #3f681c

$bluesky: #4cb5f5
$granite: #b7b8b6
$pine: #34675c
$fields: #b3c100

$sandstone: #f4cc70
$burntorange: #de7a22
$sea: #20948b
$lagoon: #6ab187
